<!DOCTYPE html>
<html lang="zh-CN" ng-app='eagle'>
<head>
    <title>Eagle</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    
</head>
<body>
    
    <div class="container-fluid" ng-controller="platforms">
        <div class="row">
            <div class="col-md-3 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a>所有<span class="badge pull-right" ng-bind="data.application_data.length"></span></a></li>
                    <li ng-repeat="(key, value) in data.item">
                        <div nav-Content></div>
                    </li>
                </ul>
            </div>

            <div class="col-md-9 col-md-offset-3 ">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>平台名称</th>
                            <th>项目名称</th>
                            <th>年化</th>
                            <th>借款期限</th>
                            <th>进度</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in data.application_data">
                            <td ng-bind="platform[i['platform']]"></td>
                            <td ng-bind="i['name']"></td>
                            <td ng-bind="i['apr']"></td>
                            <td ng-bind="i['day']"></td>
                            <td ng-bind="i['progress']"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-3 fixed-bottom">
                <div class="alert alert-success alert-dismissible" ng-show="data.is_refresh">正在刷新,请稍后...</div>
                <button class="btn btn-primary btn-block " ng-click="refresh()">刷新</button>
            </div>
        </div>
    </div>

    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="angularjs/angular.min.js"></script>
    <script src="static/js/socket.io-1.3.4.js"></script>
    <script src="static/js/eagle.js"></script>
</body>
</html>